{
    "env": {
        "browser": true,
        "mocha": true
    },

    "ecmaFeatures": {
        "arrowFunctions": true,
        "defaultParams": true,
        "superInFunctions": true,
        "templateStrings": true,
        "generators": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true
    },

    "rules": {
        "camelcase": false,
        "vars-on-top": true,
        "no-underscore-dangle": false,
        "strict": false,
        "no-shadow": false,

        "no-unused-vars": [2, {
            "vars": "all",
            "args": "none"
        }],
        "no-lonely-if": [1, true],

        "brace-style": [1, "stroustrup", { "allowSingleLine": true }],

        "comma-spacing": [1, {
            "before": false,
            "after": true
        }],

        "comma-style": [1, "last"],
        "consistent-this": [0, "self"],
        "key-spacing": [1, {
            "beforeColon": false,
            "afterColon": true
        }],

        "quotes": [1, "single", "avoid-escape"],

        "space-in-brackets": [1, "never", {}],
        "space-in-parens": [1, "never"],
        "space-before-blocks": [1, "always"],
        "space-before-function-parentheses": [1, "never"]
    },

    "globals": {
        sinon: true,
        expect: true,
        '$': true,
        WoopraTracker: true,
        Woopra: true
    }
}




