{
  "root": true,
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "no-dupe-args": "error",
    "no-unsafe-negation": "error",
    "eqeqeq": "warn",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-implicit-coercion": "error",
    "no-multi-spaces": "error",
    "no-useless-rename": "error",
    "no-else-return": "error",
    "no-extra-boolean-cast": 2,
    "no-useless-computed-key": "error",
    "no-console": 2,
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "no-mixed-operators": 1
  },
  "plugins": ["import"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/parser": "babel-eslint"
  }
}
